@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-noise {
    background-image: url('/src/assets/terracottaReds.avif'); 
    background-size: cover;
    background-position: center;
    z-index: 50;;
}

.bg-gradient-radial {
    background-image: radial-gradient(circle, transparent, black);
}
