@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-noise {
    background-image: url('/src/assets/background/terracottaReds.avif'); 
    background-size: cover;
    background-position: center;
    z-index: 50;;
}

.bg-gradient-radial {
    background-image: radial-gradient(circle, transparent, black);
}

@font-face {
    font-family: 'Raleway';
    src: url('/src/assets/font/raleway.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
